
/* ----------------------------------------------------
   Base + Layout
----------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Oxanium&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: "Oxanium", sans-serif;
  font-size: 14px;
}

/* Fade-in animation */
body {
  animation: fadebg 0.8s ease-in-out;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  /* Backgrounds extend beyond viewport */
  background-size: 100% 150%;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #05070b;
}

@keyframes fadebg {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* ----------------------------------------------------
   Page Backgrounds
----------------------------------------------------- */

.page-main {
  Background-image: url("https://raw.githubusercontent.com/kizsak/Portfolio/main/LightBleedCompressed.png");


.page-digital-painting {
  background-image: url("https://github.com/kizsak/Portfolio/raw/main/LightBleedLiightDark.jpg");
}

.page-comp-design {
  background-image: url("https://github.com/kizsak/Portfolio/raw/main/LightBleedYellowPink-min.png");
}

.page-if {
  background-image: url("https://github.com/kizsak/Portfolio/raw/main/LightBleedBright.jpg");
}

.page-about-me {
  Background-image: url(""https://github.com/kizsak/Portfolio/raw/main/LightBleedOrangeGreen-min.png



